body {
  overflow-x: hidden;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-mc {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}

.nav-mc {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.image-mc {
  height: 100px;
}

.img-cristmas {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 30%;
  height: auto;
}

.global-div-mc {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-headers {
  width: 80%;
  color: #ffbc0d;
  display: flex;
  justify-content: space-between;
}

.header-btn {
  width: 120px;
  height: 40px;
  border: 1px solid #ffbc0d;
  border-radius: 10px;
  text-align: center;
  background-color: #ffbc0d;
  color: white;
  font-weight: bold;
  margin: auto;
}

.end-header {
  width: 100%;
  color: #ffbc0d;
}

.main-mc {
  padding: 0;
  margin: auto;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.main-div {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

video {
  display: flex;
  margin: auto;
  width: 100%;
  height: 500px;
}

.swipper-img1 img {
  display: flex;
  margin: 0 auto;
  width: 70%;
  height: 500px;
}

.swiper-image2 img {
  margin: 0 auto;
  height: 500px;
  width: 60%;
}

.mc-card {
  width: 100%;
  padding: 50px;
  max-height: 500px;
}

.section-info {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 400px;
}

.mc-cardimg img {
  object-fit: fill;
  width: 95%;
  height: 350px;
}

.mc-text {
  width: 30%;
  height: 400px;
}

.mc-text h2 {
  font-size: xx-large;
  color: black;
}

.mac-btn {
  text-align: center;
  width: 120px;
  height: 40px;
  border: 1px solid #ffbc0d;
  border-radius: 10px;
  background-color: #ffbc0d;
  color: white;
  font-weight: bold;
}

.mac-btn:hover {
  text-align: center;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.section-info2 {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 400px;
}

.mc-cardimg2 img {
  object-fit: fill;
  width: 92%;
  height: 350px;
}

.mc-text2 {
  width: 30%;
  height: 400px;
}

.mc-text2 h2 {
  font-size: xx-large;
  color: black;
}

.mac-btn2 {
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 40px;
  border: 1px solid #ffbc0d;
  border-radius: 10px;
  background-color: #ffbc0d;
  color: white;
  font-weight: bold;
}

.mac-btn2:hover {
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 40px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.section-card {
  width: 100%;
  padding: 20px;
}

.card1 {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  width: 80%;
}

.mc-card2 {
  width: 29%;
  height: 500px;
}

.mc-card2 img {
  object-fit: fill;
  width: 100%;
  height: 150px;
}

.cardtext {
  font-size: xx-large;
  color: black;
}

.card-btn1 {
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 40px;
  border: 1px solid #ffbc0d;
  border-radius: 10px;
  background-color: #ffbc0d;
  color: white;
  font-weight: bold;
}

.card-btn1:hover {
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 40px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.mc-card3 {
  width: 29%;
  height: 500px;
}

.mc-card3 img {
  object-fit: fill;
  width: 100%;
  height: 150px;
}

.cardtext2 {
  font-size: xx-large;
  color: black;
}

.card-btn2 {
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 40px;
  border: 1px solid #ffbc0d;
  border-radius: 10px;
  background-color: #ffbc0d;
  color: white;
  font-weight: bold;
}

.card-btn2:hover {
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 40px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.mc-card4 {
  width: 29%;
  height: 500px;
}

.mc-card4 img {
  object-fit: fill;
  width: 100%;
  height: 150px;
}

.cardtext3 {
  font-size: xx-large;
  color: black;
}

.card-btn3 {
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 40px;
  border: 1px solid #ffbc0d;
  border-radius: 10px;
  background-color: #ffbc0d;
  color: white;
  font-weight: bold;
}

.card-btn3:hover {
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 40px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.footer-card {
  display: flex;
  width: 100%;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.footer-card1 {
  margin: auto;
  width: 80%;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.footer-text ul li {
  font-size: medium;
  list-style: none;
  font-weight: bold;
}

.facebook-logo img {
  background-color: rgb(61, 61, 61);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.facebook-logo img:hover {
  background-color: skyblue;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}/*# sourceMappingURL=home.css.map */